/*
 * 出典：CSS Stock
 * URL: https://pote-chil.com/css-stock/ja/
 * 一部カスタマイズして使用
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 30px;
  padding-top: 10%;
}

.checkbox {
  width: 40%;
  border: none;
}

.checkbox label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 0.6em;
  position: relative;
  padding: 0.5em 0.7em;
  border: 1px solid #2589d0;
  border-radius: 3px;
  background-color: #2589d026;
  cursor: pointer;
}

.checkbox label:has(:checked) {
  background-color: #2589d0;
  color: #fff;
}

.checkbox label::before {
  width: 14px;
  height: 14px;
  border-radius: 1px;
  background-color: #fff;
  content: '';
}

.checkbox label:has(:checked)::after {
  position: absolute;
  top: 14px;
  left: 15px;
  transform: rotate(45deg);
  width: 4px;
  height: 8px;
  border: solid #2589d0;
  border-width: 0 2px 2px 0;
  content: '';
}

.checkbox input {
  display: none;
}

.form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #0051a2;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.todoItem {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}
